.ClientsList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  height: 94vh;
  position: fixed;
  width: 40vw;

  &-item {
    border: 1px solid black;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    background-color: lightgray;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 0.2rem;

    &.isActive {
      background-color: #ffde1d;
      color: white;
    }

    &-info{
      strong{
        display: flex;
      }
    }
    & button{
      outline: none;
      border: none;
      color: #48ba1e;
      background-color: #c4cdc7;
      cursor: pointer;
      border-radius: 5px;
      font-size: 25px;
      padding: 5px;

      &:hover{
        box-shadow: 0px 0px 5px 0px rgb(72, 186, 30);
      }
    }
    &-container{
      display: flex;
      align-items: center;
      justify-content: center;
      & img{
        border-radius: 50%;
        margin-right: 2rem;
      }
    }
  }
}
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 8px; }

::-webkit-scrollbar-track {
  background-color: #c4cdc7;
  border-radius: 20px; }

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #555555; }
