.App {
  &-content {
    display: flex;
    justify-content: space-around;
    padding-top: 1rem;
  }

  &-clientsList {
    flex-grow: 1;
    padding-right: 1rem;
  }

  &-clientsProfile {
    padding-left: 1rem;
    margin-right: 1rem;
    min-width: 55vw;
    height: 94vh;
    background-color: gainsboro;
    border-radius: 5px;
  }
}